{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'simulate/style.css' %}"/>
<title>FFXIV Combat Simulator</title>
<link rel="icon" type="image/png" href="{% static 'simulate\kirbo.png' %}">
</head>
<html class="body">
<header>
    <div class="marginHeader">
        <div class="menu">
        <a href="/simulate/" class="menu" style="text-decoration: none; color: inherit;">
        <img src="{% static 'simulate\kirbo.png' %}" alt="Sussy Kirbo" style="margin-right: 10px;" width="40" height="40">
        <h3 class="heading mainText marginZero">FFXIV Combat Simulator</h3>
        </a>
    </div>
    <div class="menu">
        <a href="https://github.com/IAmPythagoras/FFXIV-Combat-Simulator" title="github">
        <img src="{% static 'simulate\github.png' %}" width="40" height="40">
        </a>
    </div>
    <div class="menu">
        <a href="https://discord.gg/mZXKUNy2sw" title="Discord server">
        <img src="{% static 'simulate\discord.svg' %}" width="40" height="40">
        </a>
    </div>
    </div>
</header>
<hr>

<div style="width: 60%;right:20%;position:absolute">
    <center><p>This project was started by myself more than a year ago and along the way I was helped by a lot of people without whom this project
        would not have been possible. Here is a list of people that helped me with a short description of what they did. Some of their discord info will
        be there in case you want to contact them.
    </p></center>
    <hr style="width: 70%;">
    <dl>
        <dt>Pythagoras#6312 (Leonhard Euler @ Gilgamesh)</dt>
        <dd> - That's me, did most of it.</dd>
        <dt>RedShadowHero</dt>
        <dd> - Helped restructure the code in a better way and gave other coding related advices. Also contributed to the code itself.</dd>
        <dt>ne0dym#7837 (Harrow Levesque @ Gilgamesh)</dt>
        <dd> - Did early DarkKnight code and other revisions.</dd>
        <dt>Bri-Kun (Bri Kun @ Sargatanas)</dt>
        <dd> - Networking code and other FFLopgs api related stuff.</dd>
        <dt>JavaJake</dt>
        <dd> - Helped with theoretical damage computation.</dd>>
        <dt>SaintGermain</dt>
        <dd> - Helped with early monk code</dd>
        <dt>Apollo</dt>
        <dd> - Put me in contact with knowleadgeable people and gave some code for working with etro.</dd>
    </dl> 
    <hr style="width: 70%;">
    <center><p>
        I also give my thanks to The Balance, which provided me with a lot of knowleadge about the different
        jobs so I could implement them and also gave me access to resources like the Blackmage gear comparison
        spreadsheet which I used a lot when trying to better understand how damage computation work in this game.
    </p></center>
</div>
