{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'simulate/style.css' %}"/>
<title>FFXIV Combat Simulator</title>
<link rel="icon" type="image/png" href="{% static 'simulate/kirbo.png' %}">
<style>
</style>
</head>
<html class="body">
<header>
    <div class="marginHeader">
        <div class="menu">
        <a href="/simulate/" class="menu" style="text-decoration: none; color: inherit;">
        <img src="{% static 'simulate/kirbo.png' %}" alt="Sussy Kirbo" style="margin-right: 10px;" width="40" height="40">
        <h3 class="heading mainText marginZero">FFXIV Combat Simulator</h3>
        </a>
    </div>
    <div class="menu">
        <a href="https://github.com/IAmPythagoras/FFXIV-Combat-Simulator" title="github">
        <img src="{% static 'simulate/github.png' %}" width="40" height="40">
        </a>
    </div>
    <div class="menu">
        <a href="https://discord.gg/mZXKUNy2sw" title="Discord server">
        <img src="{% static 'simulate\discord.svg' %}" width="40" height="40">
        </a>
    </div>
    <div class="menu">
        <a href="/simulate/help" title="Help">
        <img src="{% static 'simulate/help.png' %}" width="40" height="40">
        </a>
    </div>
    </div>
</header>
<hr>
<body>
<div style="width:90%;right:5%;position: absolute;text-align: center;">
<div>
<h1>Help</h1>
<p>This will walk you through the different options and other relevant part of the website.</p>
<h2>Simulation Input</h2>
<p>In this page you will be asked to enter the different settings and input for the simulation. This includes<br>
adding players, giving the players stats, giving the players actions to do and other fight relevant configuration.<br>
It contains 3 main sections : Player Roster, Player Configuration, Action Viewer and Fight Configuration.
</p>
</div>

<hr style="width:70%;">

<div>
<h3>Player Roster</h3>
<img  style="height:500px;" src="{% static 'simulate/help/roster.png' %}">
<p>
    This lets you see all the players you added to the fight. Their name will be displayed and the currently eddited player will <br>
    have a white box around itself. To add players you click the button "Add Player" at the bottom. To edit a player <br>
    you click on the "Edit" button of the player you want to edit. To delete a player you click on the "Delete" button of the <br>
    player you want to delete. When deleting, you will be asked if that is really what you want to do and to be sure <br>
    that no other player is targetting this player with abilities. If such is the case the simulation will not work and you will <br>
    receive an error.
</p>
</div>
<hr style="width:50%;">
<div>
<h3>Player Configuration</h3>
<img style="width: 800px;" src="{% static 'simulate/help/player_configuration.png' %}">
<p>
    This section lets you edit the selected player's configuration. Here you will edit the stats of the player but putting <br>
    the value in the appropriate text-box. You can also simply give it an etro gear set by copy pasting the url of the <br>
    gearset in the appropriate text-box. You can select the job in the dropdown menu.  You can change the name of the player <br>
    by changing what is in the text-box "Player name". The Player ID value under the player name is a value that you cannot modify. <br>
    Every player is automatically given a unique ID that you use to target players with actions.  Note that the stat you give must <br>
    inlclude the food.
</p>
</div>
<hr style="width:50%;">
<div>
<h3>Action Viewer</h3>
<img style="width: 800px;" src="{% static 'simulate/help/action_viewer.png' %}">
<p>
    This section lets you choose what actions you want the selected player to do. The white upper box corresponds to the actions <br>
    the player will perform (in order left-right top-bottom) and the grey lower box corresponds to the action pool of the player. <br>
    Certain actions that require a target will ask for a target ID corresponding to the ID of the player you want to target with the <br>
    action. The action "wait_ability" corresponds to a time for which the player does nothing. When selected you will be asked to enter <br>
    a valid wait time which can be an integer or a float value. To add an action click on the appropriate action in the lower box and it will <br>
    appear in the upper box. To remove an action click on the action's icon in the upper box. Some actions will let you change their configuration <br>
    instead of deleting them (but you can still delete them by simply not changing the configuration).
</p>
</div>
<hr style="width:50%;">
<div>
<h3>Fight Configuration</h3>
<img style="width: 800px;" src="{% static 'simulate/help/fight_configuration.png' %}">
<p>
    This section lets you edit the simulation's configuration. The "Stop simulation if an illegal action is detected" option will stop the <br>
    simulation at the moment when a player does an action that it should not be able to do in the game. If this option is not checked <br>
    the simulation will not stop, but you will be warned in the results that the action set for the player cannot be done in game. <br>
    The "Ignore Mana Requirement" will ignore to check for mana when using an action. Note that you will NOT be warned if the simulation <br>
    detected there was not enough mana for an action and that box was checked. The "Fight Max Duration" is the maximum duration in seconds <br>
    the fight will go for. Note that if every player has no more actions to do the simulation will stop before the max duration is reached. <br>
    The "Open result in a new tab" option does at it says, if checked it will open the result page in a new tab. This is recommended since you <br>
    will not keep the input if you come back to the input page. The "DEBUG mode" option lets you display all the DEBUG logs from the simulation. <br>
    This is not very useful to the common user and should stay unchecked. The "Simulate" button will launch a simulation with the current <br>
    configurations you have entered. You will then be taken to the result page or to an error page.
</p>
</div>
<hr style="width:70%;">
<div>
<h2>Simulation Result</h2>
<p>
    This page will display all the simulation's result. It has 2 (possibly 3) main sections : Result, Simulation Logs, Graph.
</p>
</div>

<div>
<h3>Result</h3>
<img style ="width: 800px;" src="{% static 'simulate/help/result_str.png' %}">
<p>
    This section displays the result of the simulation. The first thing to to notice is the "Return Code". This lets you know if the simulation <br>
    was a success or if it was not. A green circle corresponds to a successful simulation with at least one action that a player should not have <br>
    been able to do and a red circle corresponds to a simulation that was stopped because a player did an action that it was not supposed to do <br>
    but the simulation was asked to stop in such case. In other words, a red circle is a yellow circle, but the "Stop Simulation if an illegal action is detected" <br>
    was checked.
</p>
<img style="width:500px;" src="{% static 'simulate/help/result_yellow.png' %}" title="Yellow return code"> 
<br>
<img style="width:500px;" src="{% static 'simulate/help/result_red.png' %}" title="Red return code"> 
<p>
    Then under that in the black box we have the simulation's result in text. It first says when the fight ended since the start of it (in seconds). <br>
    Under that, it will show the DPS (Damage Per Second), PPS (Potency Per Second), TP (Total Potency) and GCD (Number of GCD) done by <br>
    every player in the simulation. It will then show the group's DPS, PPS and TP. Under that black box we have the "View Raw JSON file" button <br>
    which when clicked on brings you to a page that will show you the JSON file corresponding to the simulation's input. This file serves no purpose <br>
    in the online simulator, but is useful if you are using the python library directly.
</p>
</div>
<hr style="width:50%;">
<div>
<h3>Simulation Logs</h3>
<img style ="width: 800px;" src="{% static 'simulate/help/log_warning.png' %}">
<p>
    This section will only be displayed if there was at least one warning or critical log. A warning log will cause a yellow return code and a critical <br>
    log will return a red yellow code. There will be some information displayed to show what happened. For example, in the above picture there are 2 warning <br>
    log that let you know that the warning happened because of a "FailedRequirementEvent", that the timestamp of the event is 0, that this happened to the player <br>
    with id 0, it tells you the requirement's name (in this case Paradox), it tells you if this was fatal to the simulation and then it will sometime give some <br>
    info.
</p>
</div>
<hr style="width:50%;">
<div>
<h3>Graph</h3>
<img style ="width: 800px;" src="{% static 'simulate/help/graph.png' %}">
<p>
    This section simply displays the resulting DPS graph of the simulation. You can see the DPS of every player against the time of the simulation.
</p>
</div>

</div>
</body>
</html>