{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'simulate/style.css' %}"/>
<title>FFXIV Combat Simulator</title>
<link rel="icon" type="image/png" href="{% static 'simulate/kirbo.png' %}">
</head>
<html class="body">
<header>
    <div class="marginHeader">
        <div class="menu">
        <a href="/simulate/" class="menu" style="text-decoration: none; color: inherit;">
        <img src="{% static 'simulate/kirbo.png' %}" alt="Sussy Kirbo" style="margin-right: 10px;" width="40" height="40">
        <h3 class="heading mainText marginZero">FFXIV Combat Simulator</h3>
        </a>
    </div>
    <div class="menu">
        <a href="https://github.com/IAmPythagoras/FFXIV-Combat-Simulator" title="github">
        <img src="{% static 'simulate/github.png' %}" width="40" height="40">
        </a>
    </div>
    <div class="menu">
        <a href="https://discord.gg/mZXKUNy2sw" title="Discord server">
        <img src="{% static 'simulate/discord.svg' %}" width="40" height="40">
        </a>
    </div>
    </div>
</header>
<hr>
    <center><h2 style="color:red;">THIS WEBSITE IS STILL IN DEV. IF YOU SEE A BUG PLEASE LET ME KNOW THROUGH DISCORD</h2></center>
    <div class="body">
        <div class="middleText center">
            <p>
                FFXIV Combat Simulator (aka ffxivcalc) is a python library that allows one to simulate combat from the game Final Fantasy XIV Online. 
                It lets the user simulate any number of players of any job (except Blue Mage) and shows every player's expected DPS as well as other combat statistics. 
                The simulator is also able to detect if a chosen action is illegal, in which case the simulation will stop and notify the user; you can disable this option in the 
                simulation page. If you have any questions, feel free to join the Discord server dedicated to the project by clicking the Discord logo above.
            </p>
            <a href="/simulate/SimulationInput/">
                <button class="basicButton bigbutton">
                    Simulate now
                </button>
            </a>
            <p>
                Note that the simulator is still in active development and bugs may be encountered. The results may not perfectly replicate in-game performance 
                (for instance, the program does not account for lag and assumes an average crit rate),but they will give a very good idea of how in game damage
                would look like given a set of actions.
            </p>
            <p>
                If you are interested in how the simulator works behind the scenes and other things it can do, I recommend checking out the GitHub page by clicking 
                the GitHub logo above. By using the python library directly, you can customize several settings, which this website does not allow.
            </p>
            <p>
                Here I will keep a list of features I plan to work on in the future and will update the website as I continue to develop the project.
            </p>
        </div>
    </div>
    <hr>
    <footer class="footingText">
        <p><center>
            Made by Leonhard Euler @ Gilgamesh and <a href="/simulate/credit/">others</a>. 
        </center></p>
    </footer>
</html>