{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'simulate/style.css' %}"/>
<title>FFXIV Combat Simulator</title>
<link rel="icon" type="image/png" href="{% static 'simulate\kirbo.png' %}">
</head>
<html class="body">
<header>
    <div class="marginHeader">
        <div class="menu">
        <a href="/simulate/" class="menu" style="text-decoration: none; color: inherit;">
        <img src="{% static 'simulate\kirbo.png' %}" alt="Sussy Kirbo" style="margin-right: 10px;" width="40" height="40">
        <h3 class="heading mainText marginZero">FFXIV Combat Simulator</h3>
        </a>
    </div>
    <div class="menu">
        <a href="https://github.com/IAmPythagoras/FFXIV-Combat-Simulator" title="github">
        <img src="{% static 'simulate\github.png' %}" width="40" height="40">
        </a>
    </div>
    <div class="menu">
        <a href="https://discord.gg/mZXKUNy2sw" title="Discord server">
        <img src="{% static 'simulate\discord.svg' %}" width="40" height="40">
        </a>
    </div>
    <div class="menu">
        <a href="/simulate/help" title="Help">
        <img src="{% static 'simulate/help.png' %}" width="40" height="40">
        </a>
    </div>
    <div class="menu">
        <a href="/simulate/More" title="More">
        <img src="{% static 'simulate/More.png' %}" width="40" height="40">
        </a>
    </div>
    </div>
</header>
<hr>
<body>

<div style="text-align: center;">
<p>Find out more about the ffxiv-combat-simulator and other relevant alternative ressources made by other people.</p>
</div>

<hr>

<div>
<h2 style="color: white;">FFXIV Combat Simulator</h2>
<p>
    This is the simulator that powers this website. Started more than a year ago, the goal was to make a simulator for FFXIV publicly available and break away from the older method
    of using spread sheets to optimize rotations. This simulator can do any number of player at the same time, for any amount of time, for any number of actions, for any players' stats and will 
    accurately compute the expected DPS with raid buffs and personnal buffs taken into account. It has the option to check for the validity of a rotation and alert the user if a 
    rotation is not legal in the game. It can accurately track a player's mana in order to plan rotations that require very precise mana tic and mana usage.
</p>
<p>
    The simulator is able to compute the DPS distribution of every player in the raid, but that feature is not available on the website in order to limit the computation time.
    You can however do that step yourself and use <a href="https://colab.research.google.com/drive/15RgXpmIdJnFiY34iqj9WqrnC68Pt1ar8?usp=sharing">this Google Colab</a> in order to compute the DPS distribution of your own simulation taken from the website by using the RAW JSON FILE. The simulator will show a graph of DPS Vs. Time 
    of every player and it can be configured to also show the PPS (Potency Per Second) Vs. Time. The simulator can also show a very detailed log of what happened in the simulation and the 
    exact moment events happened, this can be used to tweak a rotation for maximum efficiency.
</p>
<p>
    This simulator does not have any kind of rotation solver that would use A.I. (or any other algorithm) in order to automatically optimize a rotation. It does however have functionalities
    already built-in that would facilitate the development of such tools. Read <a href="https://iampythagoras.github.io/customize_fight.html#">this</a> for more information.
</p>
<p>
    This simulator is still in active development, and I plan to add the following functionalities in the future : Healing and enemy attacks, Blue Mage, more than one enemy in a simulation,
    Enemy HP bar, rDPS/aDPS/nDPS approximations, Enemity simulation, functioning mitigation, functionning AOEs (on multiple enemies), Player HP and death, Player movement and more. Some of these features
    are already being worked on, but I cannot say which feature will be available first or if they ever will be. I am however willing to work more on functionalities that the community deems more
    necessary.
</p>
<p>
    For more information you can read the <a href="https://iampythagoras.github.io/index.html">documentation</a>, read the repo (by clicking the GitHub icon above), join the discord by clicking the discord logo above or send me a DM on discord <span style="color: red;">Pythagoras#6312</span>.
</p>
</div>

<hr>

<div>
<h2 style="color: white;">Another FF14 Combat Sim</h2>
<p>
    This tool simulates the damage of given gearsets and rotations for one or more players and, produces the full distribution over damage values. This is an accurate 
    <a href="https://en.wikipedia.org/wiki/Monte_Carlo_method">Monte Carlo</a> simulation that gives the full range and distribution over all possible damage values, 
    mimicking as closely as possible the intricacies of how damage is calculated in FF14 (e.g., snapshots, animation locks, etc.) with some caveats.
</p>
<p>
    This Monte Carlo simulator is built primarily to allow others to build other tools on top of it, using the simulator as just a combat engine. Examples of such tools: 
</p>
<ol>
    <li>general gear and rotation planning, optimizing for average damage, parsing (high-variance sets), and minimizing the chance of hitting enrage due to bad luck</li>
    <li>fight-specific gear and rotation planning</li>
    <li>speed kill planning</li>
    <li>normalizing DPS logs to factor out "lucky" crit/dh farming</li>
    <li>rotation solver (the code is architected to specifically work with the Tensorflow Agents library, and the modelling of actions, environments, rewards, etc. is already done. 
        It could also probably work as a custom OpenAI Gym environment, though that hasn't been tested).</li>
</ol>
<p>
    The simulator is built in Google's Colab, and can be run directly in a browser- no installation needed and it can be run without a PC (console and phones should work- don't you all have phones!?).
    It is available as an open source project under Apache License 2.0. Please see the <a href="https://github.com/Amarantine-xiv/Another-FF14-Combat-Sim">repo</a> for more info, and feel free to reach out to 
    <span style="color: red;">amarantine#6064</span> on discord if you have questions about the simulator or building tools on top of it.
</p>
</div>
<hr>
</body>
</html>